@import '../../utils/variables.less';

.heroSection {
  width: 100%;
  min-height: 700px;
  background-color: var(--color-green);
  text-align: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  color: var(--color-white);

  @media @breakpoint-tablet {
    flex-direction: column;
    min-height: 300px;
    & img {
      display: none;
    }
  }

  [data-theme='dark'] & {
    color: var(--color-black);
  }

  & h1 {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
    filter: drop-shadow(2px 2px 2px #000000);
    margin: 0;

    & span {
      color: #deb887;
    }
  }

  & p {
    font-size: var(--font-size-medium);
    filter: drop-shadow(2px 2px 2px #000000);
    margin: 0;
  }

  & div {
    display: flex;
    flex-direction: column;
  }

  & img {
    width: 150px;
    height: auto;
    filter: drop-shadow(2px 2px 2px #000000);

    &:first-child {
      transform: rotate(25deg) translate(60px);
    }

    &:last-child {
      transform: rotate(-25deg) translateY(-50px);
    }
  }
}

.mainSection {
  margin: 70px auto 70px auto;
}

.cardContent {
  & h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    margin: 0 auto 20px auto;
  }

  & p {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    margin: 0;
  }
}

.genericImage {
  width: 200px;
  height: auto;
  padding: 5%;
}

.mainSectionInfoBox {
  background-color: var(--color-green);
  color: var(--color-white);
  position: relative;
  overflow: hidden;

  [data-theme='dark'] & {
    color: var(--color-black);
  }

  & button {
    margin-top: 20px;
  }

  & .icon {
    width: 45%;
    height: auto;
    transform: rotate(25deg);
    background-color: transparent;
    position: absolute;
    left: -60px;
    filter: drop-shadow(1px 1px 1px #000000);

    @media @breakpoint-mobile {
      display: none;
    }
  }

  & span {
    color: #deb887;
  }
}

.mainContent {
  width: 60%;
  margin-left: auto;
  filter: drop-shadow(1px 1px 1px #000000);

  @media @breakpoint-mobile {
    margin: 0;
  }
}
