.header {
  display: flex;
}

.funIcon {
  width: 80px;
  height: 80px;
  margin: var(--spacing-xsmall);
}

.menuContainer {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: var(--spacing-medium);
  padding-left: var(--spacing-medium);
}

.buttonContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  right: 10px;
}
