.button {
  padding: 4px;
  font-size: var(--font-size-small);
  background-color: var(--color-green);
  color: var(--color-white);
  border-radius: 4px;

  [data-theme="dark"] & {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

.dropdown {
  background-color: var(--color-white);
  color: var(--color-black);
  border-radius: 0;

  [data-theme="dark"] & {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
