.button {
  width: 130px;
}

.dropdown {
  width: 100%;
  float: left;
  text-align: left;
  padding-left: var(--spacing-mini);
  margin: var(--spacing-mini) 0;
  text-decoration: none;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  border-bottom: var(--border) transparent;
  color: var(--color-black);

  &:hover {
    border-bottom: var(--border) var(--color-green);

    [data-theme='dark'] & {
      border-color: var(--color-black);
    }
  }
}

.active {
  border-bottom: var(--border) var(--color-green);
  color: var(--color-black);
}
