.menu {
  display: flex;
  margin-left: auto;

  /* Style the links inside the navigation bar */

}

.link {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  border-bottom: var(--border) transparent;
  
  &:hover {
    border-bottom: var(--border) var(--color-main);
  }
}

.active {
  border-bottom: var(--border) var(--color-main);
}