.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xsmall);
  height: fit-content;
  width: 300px;
  margin: var(--spacing-large);
  background-color: var(--color-gray-light);
  border-radius: 8px;
  padding: var(--spacing-xsmall);
  border: var(--border) var(--color-gray-dark);
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
}

.input {
  padding: var(--spacing-xsmall);
  border-radius: 8px;
  margin-top: 8px;
  background-color: var(--color-white);
  color: var(--color-black);
  width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button {
  width: 100%;
}

.spinner {
  height: 24px;
}

.fileCard {
  border: var(--border) var(--color-black);
  justify-content: space-between;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: var(--max-width-page);
  background-color: var(--color-gray-light);
  padding: 0 var(--spacing-small);
  margin-bottom: var(--spacing-small);

  & div {
    display: flex;
    flex-direction: row;
  }

  & svg {
    width: 24px;
    height: auto;
    fill: var(--color-white);

    [data-theme='dark'] & {
      fill: var(--color-black);
    }
  }
}