.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  width: 270px;
  margin-top: var(--spacing-medium);
  background-color: var(--color-card);
  border-radius: 8px;
  padding: var(--spacing-small);
  border: var(--border) var(--color-card-border);
}

.label {
  display: flex;
  flex-direction: column;
}

.input {
  padding: var(--spacing-small);
  border-radius: 8px;
  margin-top: 8px;
}
