.container {
  width: 300px;
  height: 200px;
  border: 2px dashed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  &:hover {
    background-color: var(--color-main-contrast);
  }
}

.error {
  color: red;
}
