:root {
  --breakpoint-tablet: 768px;
  --max-width-page: 750px;
  --page-margin: auto auto 150px auto;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --spacing-mini: 8px;
  --spacing-xsmall: 16px;
  --spacing-small: 24px;
  --spacing-medium: 32px;
  --spacing-large: 40px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 150px;
  --border: 3px solid;
  --font-size-small: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 3rem;
  --transition-dark-light-mode: background-color 0.7s ease, color 0.2s ease;
  --color-white-paris: #cdd4cd;
  --color-green: #006145;
  --color-green-gray: #6a9086;
  --color-green-light: #338a72;
  --color-green-dark: #004331;
  --color-white: #f3f6f8;
  --color-black: #1c2833;
  --color-gray-light: #e6ecf1;
  --color-gray-dark: #d9e2ea;
  --color-gray-dark-hover: #ced9e4;
  --color-gray-blue: #9ab2c8;
  --color-gray-blue-dark: #385066;
}

[data-theme="dark"] {
  --color-white-paris: #cdd4cd;
  --color-green-light: #006d4e;
  --color-green-dark: #00bb86;
  --color-green-gray: #3b6356;
  --color-white: #1c2833;
  --color-black: #f8f8ff;
  --color-gray-light: #2e4254;
  --color-gray-dark: #354c61;
  --color-gray-dark-hover: #486784;
}

* {
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
  transition: var(--transition-dark-light-mode);
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  transition: var(--transition-dark-light-mode);

  & a {
    color: var(--color-black);
  }
}

main {
  flex: 1 0 auto;
}

button {
  font-family: "Segoe UI", Arial, sans-serif;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: var(--font-size-small);
  background-color: unset;
  min-width: 44px;
  min-height: 44px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

input[type="checkbox"]:disabled {
  cursor: not-allowed;
  opacity: 1 !important;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}