:root {
  --max-width: 750px;
  --border-bottom: 3px solid;
  --font-weight-bold: 500;
  --color-background: #f8f8ff; /* Ghost White */
  --color-background-darkmode: #1c2833; /* Mirage */
  --color-main: #00573f; /* Jets Gotham Green */
  --color-main-darkmode: #19a342; /* Forest Green */
  --color-font: #2f2f2f; /* Night Rider */
  --color-font-darkmode: #f8f8ff; /* Ghost White */
  --transition-dark-light-mode: background-color 0.7s ease, color 0.7s ease;
  --button-font-color: #f8f8ff; /* Ghost White */
}

body {
  font-family: 'Segoe UI', 'Arial', 'sans-serif';
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-font);
}

body a {
  color: var(--color-font);
}

body.dark-mode {
  color: var(--color-font-darkmode);
  background-color: var(--color-background-darkmode);
}

header.dark-mode {
  color: var(--color-font-darkmode);
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: var(--color-main);
  color: var(--button-font-color);
}

[data-theme='dark'] button {
  background-color: var(--color-main-darkmode);
}
