:root {
  --max-width-page: 750px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --spacing-mini: 8px;
  --spacing-xsmall: 16px;
  --spacing-small: 24px;
  --spacing-medium: 32px;
  --spacing-large: 40px;
  --height-header: 116px;
  --border: 3px solid;
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 48px;
  --transition-dark-light-mode: background-color 0.7s ease, color 0.2s ease;

  --color-green: #00573f; /* Jets Gotham Green */
  --color-green-light: #338a72;
  --color-green-dark: #004331;
  --color-red: #570018; /* complimentary*/
  --color-red-light: #920028;
  --color-red-dark: #430013;
  --color-white: #f3f6f8;
  --color-black: #1c2833; /* Mirage */
  --color-gray-light: #e6ecf1;
  --color-gray-dark: #d9e2ea;
  --color-gray-blue: #9ab2c8;
  --color-pink: #9ab2c8;
  --color-yellow-soft: #c8c79a;
  --color-red-soft: #c89a9b;
  --color-gray-blue-dark: #385066;
  --color-pink-dark: #663850;
  --color-yellow-soft-dark: #666538;
  --color-red-soft-dark: #663839;
}

[data-theme="dark"] {
  --color-green: #006145;
  --color-green-light: #006d4e;
  --color-green-dark: #00bb86;

  --color-white: #1c2833;
  --color-black: #f8f8ff;
  --color-gray-light: #2e4254;
  --color-gray-dark: #354c61;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
  transition: var(--transition-dark-light-mode);
}

body {
  font-family: "Segoe UI", "Arial", "sans-serif";
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  transition: var(--transition-dark-light-mode);

  & a {
    color: var(--color-black);
  }
}

button {
  font-family: "Segoe UI", "Arial", "sans-serif";
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: var(--font-size-small);
  background-color: unset;
}
