@import "../../utils/variables.less";

.card {
  max-width: var(--max-width-page);
  height: auto;
  display: flex;
  align-items: flex-start;
  padding: var(--spacing-small);
  margin: var(--spacing-xxlarge) 0;
  background-color: var(--color-green);

  @media @breakpoint-tablet {
    flex-direction: column;
  }

  img {
    width: 200px;
    border-radius: 50%;
    margin-right: var(--spacing-medium);

    @media @breakpoint-tablet {
      align-self: center;
    }
  }
}

.textContainer {
  flex-direction: column;

  p {
    margin: 0;
  }
}

.iconRow {
  display: flex;
  margin-top: var(--spacing-small);
  gap: var(--spacing-small);

  svg {
    width: 32px;
    height: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  }
}
